# APP
NODE_ENV="development"
NEXT_PUBLIC_APP_URL="https://shilmel-v2.vercel.app"

# AUTHENTICATION (@ NEXT-AUTH)
# Secret can be generated with `openssl rand -base64 32`
NEXTAUTH_URL="https://shilmel-v2.vercel.app/api/auth"   
AUTH_SECRET="PbLLgy2nDWFNs58LfnJUaL+AZ4V4b41TCK8oKf8EK/gXv5juTo8m7609l7M="

# DATABASE (POSTGRES @ NEON)
DATABASE_URL="postgresql://shilmeldb_owner:npg_UXH8IBdO3irG@ep-winter-hall-a1df4pn7-pooler.ap-southeast-1.aws.neon.tech/shilmeldb?sslmode=require"

# STORAGE (@ UPLOADTHING)
UPLOADTHING_TOKEN="eyJhcGlLZXkiOiJza19saXZlXzJjZTI3ZGVkZjJiNmUzNTJiODRkNDA3NjQ1ODM5NTM3OGI0NzJiNjYxMTY2OWFlOTZmMDlhMmM3MzMyZjFiOGIiLCJhcHBJZCI6ImE0bXZub2lnaWoiLCJyZWdpb25zIjpbInNlYTEiXX0="

# EMAIL (@ RESEND)
RESEND_API_KEY=""
RESEND_EMAIL_FROM=""
RESEND_HOST="smtp.resend.com"
RESEND_USERNAME="resend"
RESEND_PORT=465